.card,
.cardP {
    height: 250px;
    width: 180px;
    background: $color-beige;
    border-radius: 16px;
    margin: $margin2 $margin2;
    @extend %boxShadow2;
    @extend %flex-full-center;
    position: relative;

    @media screen and (max-width: 600px) {
            height: 150px;
            width: 100px;
            border-radius: 8px;
            margin: $margin1 $margin1;
    }
}

.card>div:nth-child(1) {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 50px;
    width: 50px;
        @media screen and (max-width: 600px) {
            height: 30px;
            width: 30px;
        }
}

.card>div:nth-child(2) {
    font-size: 120px;
    font-family: 'Pacifico', cursive;

    @media screen and (max-width: 600px) {
            font-size: 70px;
        }
}

// Cards Plan
.cardP {
    font-size: 30px;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    @media screen and (max-width: 600px) {
            font-size: 20px;
    }
}

.cardP>div:nth-child(1){
    background: $color-marron-clair;
    padding: 16px 0;

        @media screen and (max-width: 600px) {
            padding: 8px 0;
        }
}

.cardP>div:nth-child(2){
    position: absolute;
    width: 64px;
    height: 64px;
    padding-top: 12px;
    border-radius: 50%;
    bottom: 8px;
    left: 16px;
    font-size: 50px;

        @media screen and (max-width: 600px) {
            width: 32px;
            height: 32px;
            padding-top: 8px;
            border-radius: 50%;
            bottom: 4px;
            left: 8px;
            font-size: 30px;
        }
}

.cardP>div:nth-child(3){
    position: absolute;
    width: 48px;
    height: 48px;
    padding-top: 8px;
    border-radius: 50%;
    bottom: 8px;
    right: 16px;
    font-size: 40px;

     @media screen and (max-width: 600px) {
            width: 24px;
            height: 24px;
            padding-top: 4px;
            border-radius: 50%;
            bottom: 4px;
            right: 8px;
            font-size: 30px;
        }
}

.card-plan--num {
    position: absolute;
    top: 24px;
    right: 24px;
    color: $color-rouge;

    @media screen and (max-width: 600px) {
            top: 12px;
            right: 12px;
        }
}