.container {
    background: $color-jaune;
    border-radius: 24px;
    margin: $margin6 $margin6;
    @extend %boxShadow2;
    @extend %flex-full-center;
    flex-direction: column;
}


// *** Cartes travaux ***
.box-cards-travaux,
.box-cards-plan {
    @extend %flex-full-center;
    flex-wrap: wrap;
    margin: $margin2;
    // @include border-test(red);
}


.cards-travaux-double,
.cards-plan-triple {
    @extend %flex-full-center;
    margin: $margin1;
    background: $color-rose;
    @extend %boxShadow2;
}



// *** Boutons ***
.box-btn {
    @extend %flex-full-center;
    // height: 56px;
    width: 33%;
    margin: $margin2;
    // @include border-test;
}

.box-btn__compteur {
    height: 80px;
    width: 60px;
    border-radius: 8px;
    background: $color-beige;
    margin: 0 $margin2;
    @extend %boxShadow1;
}





// *** Cartes plan ***
.box-cards-plan {
    @extend %flex-full-center;
}