// FLEXBOX

%flex-full-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-align-center {
  justify-content: center;
  align-items: center;
}

%flex-spaceBetween {
  justify-content: space-between;
  align-items: center;
}

%flex-spaceArround {
  justify-content: space-around;
  align-items: center;
}