// ===================================================
 // POSITIONNEMENT RELATIVE / ABSOLU
  
%position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// ===================================================  

%police-title {
    font-family: 'Lobster', cursive;
}

%police-second {
    font-family: 'Pacifico', cursive;
}

%police-para {
    font-family: 'Special Elite', cursive;
}