//  Colors
$color-bcg: #7FAC8C;
$color-jaune: #F5DEA3;
$color-rose: #E4A2A0;
$color-rouge: #EC2324;
$color-bleu: #2D90A1;
$color-marron: #584B37;
$color-beige: #EBE4CF;
$color-vert: #87C4A3;

// Margin
$margin1: 8px;
$margin2: 16px;
$margin3: 24px;
$margin4: 32px;
$margin5: 40px;
$margin6: 48px;
$margin7: 56px;