.navbar {
  height: 64px;
  width: 100%;
  background: #e6c9cd;
  // box-shadow: 0px 6px 7px 0px rgba();
  display: flex;
  justify-content: center;
  align-items: center;
  @include boxShadow4;

  h1 {
    font-family: fantasy;
    color: $color-rouge;
  }
}