.navbar {
  height: 64px;
  width: 100%;
  background: #e6c9cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    font-family: fantasy;
    color: $color-rouge;
    font-size: 48px;
    letter-spacing: 8px;
  }