.navbar {
  position: relative;
}


//  *** NAVBAR Partie verte ***
.navbar-over {
  height: 96px;
  width: 100%;
  @extend %flex-full-center;
  background-color: $color-vert;
  @extend %boxShadow2;

  @media screen and (max-width: 600px) {
           height: 60px;
        }
}


.navbar__logo {
  @extend %flex-full-center;
  position: relative;

  // @media screen and (max-width: 600px) {
  //         display: flex;
  //         justify-content: space-between;
  //       }

  .navbar__logo__circle {
    background: $color-beige;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -20px;

    @media screen and (max-width: 600px) {
           height: 44px;
            width: 44px;
        }
  }

  .navbar__logo__title {
    font-size: 40px;
    @extend %police-title;
    color: $color-rouge;
    text-shadow: 2px 0px 0px $color-beige, -2px 0px 0px $color-beige, 0px 2px 0px $color-beige, 0px -2px 0px $color-beige, 0px -2px 0px $color-beige, -7px 0px 0px $color-bleu, -12px 0px 0px $color-bleu, -12px 0px 0px $color-bleu;
    z-index: 10;

    @media screen and (max-width: 600px) {
           font-size: 30px;
           justify-content: start;
        }
  }

}


.navbar__btn-start {
  position: absolute;
  right: 16px;
  height: 40px;
  background: $color-rouge;
  color: $color-beige;
  border-radius: 999px;
  @extend %boxShadow2;
  margin-right: 16px;
  padding: 0 16px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;

  @media screen and (max-width: 600px) {
          right: 8px;
          height: 30px;
          margin-right: 8px;
          padding: 0 8px;
          font-size: 12px;
        }

    span {
      line-height: 40px;
      @media screen and (max-width: 600px) {
         line-height: 30px;
        }
    }
}

.navbar__btn-solo {
  display: none;
  position: absolute;
  right: 16px;
  height: 40px;
  background: $color-bleu;
  color: $color-beige;
  border-radius: 999px;
  @extend %boxShadow2;
  margin-right: 16px;
  padding: 0 16px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;

  @media screen and (max-width: 600px) {
         right: 8px;
        height: 30px;
        margin-right: 8px;
        padding: 0 8px;
        font-size: 12px;
  }

  span {
      line-height: 40px;

      @media screen and (max-width: 600px) {
         line-height: 30px;
        }
    }
}





// *** NAVBAR Partie rose ***
.navbar-under {
  height: 96px;
  width: 100%;
  background-color: $color-rose;
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: -1;
  transform: rotateZ(2deg);
  @extend %boxShadow2;

  @media screen and (max-width: 600px) {
         height: 60px;
  }
}